<h1>Add New Mongoose Here:</h1>
<a href="/">Home</a>
<form action="/mongooses" method="post">
    <p>Name: <input type="text" name="name" /></p>
    <p>Kind: <input type="text" name="kind" /></p>
    <p>Build: <input type="text" name="build" /></p>
    <p><input type="submit" value="Add New Mongoose!" /></p>
</form>
