<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Message Board</title>
    </head>
    <body>
        <h1>The Dojo Message Board</h1>
        <hr />
        <form action="/message/create" method="post">
            <p>
            
            </p>
        </form>
    </body>
</html>
