<h1>Dashboard Page</h1>
<div ng-controller="dashboardController">
    <h2><u>Our Current Inventory:</u></h2>
    <table>
        <tr>
            <th>Product Name</th>
            <th>Description</th>
            <th>Inventory</th>
        </tr>
        <tr ng-repeat="product in products | orderBy: '-createdAt' track by $index">
            <th>{{product.pname}}</th>
            <th>{{product.description}}</th>
            <th>{{product.inventory}}</th>
        </tr>
    </table>

    <hr />

    <h2><u>Recent Orders:</u></h2>
    <div ng-repeat="order in orders | orderBy: '-createdAt' track by $index">
        <p><u>{{order._customer}}</u> purchased {{order.quantity}} {{order.products.pname}} (<i>{{order.createdAt | date:"short"}}</i>)</p>
    </div>

    <hr />

    <h2><u>New Customers:</u></h2>
    <div ng-repeat="customer in customers | orderBy: '-createdAt' track by $index">
        <p>{{customer.cname}} joined the store (<i>{{customer.createdAt | date:"short"}}</i>)</p>
    </div>
</div>
